ConveniosService/convenio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bancoabc/convenio/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="convenio" targetNamespace="http://www.bancoabc/convenio/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bancoabc/convenio/" elementFormDefault="qualified">
      <xsd:element name="consultaConveniosRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="convenioReq" type="tns:ConvenioRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaConveniosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="convenioResp" type="tns:ConvenioRespuesta"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Convenio">
      	<xsd:sequence>
      		<xsd:element name="codigoConvenio" type="xsd:string"></xsd:element>
      		<xsd:element name="nombreConvenio" type="xsd:string"></xsd:element>
                    <xsd:element name="idReferenciaPago" type="xsd:string"></xsd:element>
                    <xsd:element name="fechaLimite" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="ConvenioRequest">
      	<xsd:sequence>
      		<xsd:element name="idCliente" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="ConvenioRespuesta">
      	<xsd:sequence>
      		<xsd:element name="respuestaServicio"
      			type="tns:RespuestaServicio">
      		</xsd:element>
      		<xsd:element name="convenios" type="tns:Convenio" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="RespuestaServicio">
            	<xsd:sequence>
            		<xsd:element name="codigo" type="xsd:string"></xsd:element>
            		<xsd:element name="descripcion" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="consultaConveniosRequest">
    <wsdl:part element="tns:consultaConveniosRequest" name="parametersRequest"/>
  </wsdl:message>
  <wsdl:message name="consultaConveniosResponse">
    <wsdl:part element="tns:consultaConveniosResponse" name="parametersResponse"/>
  </wsdl:message>
  <wsdl:portType name="ConvenioInterface">
    <wsdl:operation name="consultaConvenios">
      <wsdl:input message="tns:consultaConveniosRequest"/>
      <wsdl:output message="tns:consultaConveniosResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConvenioService" type="tns:ConvenioInterface">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="consultaConvenios">
  		<soap:operation
  			soapAction="http://www.bancoabc/convenio/consultaConvenios" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConvenioService">
    <wsdl:port binding="tns:ConvenioService" name="convenioSOAP">
      <soap:address location="http://localhost:8080/ConvenioService/services/ConvenioService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
