ValidarClienteService/WebContent/wsdl/ValidarClientePort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bancoabc/cliente/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="cliente" targetNamespace="http://www.bancoabc/cliente/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bancoabc/cliente/">
      <xsd:element name="validarClienteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="validaCliente" type="tns:ValidaClienteRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validarClienteResponse" type="tns:RespuestaCliente">

      </xsd:element>
    
      <xsd:complexType name="ValidaClienteRequest">
      	<xsd:sequence>
      		<xsd:element name="idCliente" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="RespuestaCliente">
      	<xsd:sequence>
      		<xsd:element name="clienteExiste" type="xsd:boolean"/>
      		<xsd:element name="estadoServicio" type="tns:ResultadoServicio"/>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="ResultadoServicio">
            	<xsd:sequence>
            		<xsd:element name="codigo" type="xsd:string"/>
            		<xsd:element name="descripcion" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="validarClienteRequest">
    <wsdl:part element="tns:validarClienteRequest" name="parametersRequest"/>
  </wsdl:message>
  <wsdl:message name="validarClienteResponse">
    <wsdl:part element="tns:validarClienteResponse" name="parametersResponse"/>
  </wsdl:message>
  <wsdl:portType name="ValidaClienteInteface">
    <wsdl:operation name="validarCliente">
      <wsdl:input message="tns:validarClienteRequest"/>
      <wsdl:output message="tns:validarClienteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidarClienteSOAP" type="tns:ValidaClienteInteface">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

  	<wsdl:operation name="validarCliente">
  		<soap:operation soapAction="http://www.bancoabc/cliente/validarCliente"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ValidarClienteService">
  	<wsdl:port binding="tns:ValidarClienteSOAP" name="ValidarClientePort">
  		<soap:address location="http://localhost:8080/ValidarClienteService/services/ValidarClientePort"/>
  	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>
