ProductoService/WebContent/wsdl/productoSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bancoabc/producto/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="producto" targetNamespace="http://www.bancoabc/producto/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bancoabc/producto/">
      <xsd:element name="consultarProductosRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productoRequest" type="tns:productoRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarProductosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productoResponse" type="tns:productoResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Producto">
      	<xsd:sequence>
      		<xsd:element name="tipo" type="xsd:string"/>
      		<xsd:element name="numeroPoducto" type="xsd:string"/>
      		<xsd:element name="nombreProducto" type="xsd:string"/>
      		<xsd:element name="saldo" type="xsd:double"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="productoRequest">

      	<xsd:sequence>
      		<xsd:element name="idCliente" type="xsd:string"/>
      		<xsd:element name="tipoProducto" type="xsd:string"/>
      		<xsd:element name="numeroProducto" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="productoResponse">
      	<xsd:sequence>
      		<xsd:element name="resultadoServicio" type="tns:resultadoServicio">
      		</xsd:element>
      		<xsd:element maxOccurs="unbounded" minOccurs="0" name="productos" type="tns:Producto"/>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="resultadoServicio">
            	<xsd:sequence>
            		<xsd:element name="codigo" type="xsd:string"/>
            		<xsd:element name="descripcion" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="consultaSaldoRequest">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="requestSaldo" type="tns:productoRequest"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultaSaldoResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="SaldosResponse" type="tns:productoResponse"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="consultarProductosRequest">
    <wsdl:part element="tns:consultarProductosRequest" name="parametersReq"/>
  </wsdl:message>
  <wsdl:message name="consultarProductosResponse">
    <wsdl:part element="tns:consultarProductosResponse" name="parametersRes"/>
  </wsdl:message>
  <wsdl:message name="consultaSaldoRequest">
  	<wsdl:part element="tns:consultaSaldoRequest" name="parametersSaldoReq"/>
  </wsdl:message>
  <wsdl:message name="consultaSaldoResponse">
  	<wsdl:part element="tns:consultaSaldoResponse" name="parametersSaldoRes"/>
  </wsdl:message>
  <wsdl:portType name="ProductosPagoInterface">
    <wsdl:operation name="consultarProductos">
      <wsdl:input message="tns:consultarProductosRequest"/>
      <wsdl:output message="tns:consultarProductosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultaSaldo">
    	<wsdl:input message="tns:consultaSaldoRequest"/>
    	<wsdl:output message="tns:consultaSaldoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="productoSOAP" type="tns:ProductosPagoInterface">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="consultarProductos">

  		<soap:operation soapAction="http://www.bancoabc/producto/consultarProductos"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="consultaSaldo">
  		<soap:operation soapAction="http://www.bancoabc/producto/consultaSaldo"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="productoService">
    <wsdl:port binding="tns:productoSOAP" name="productoSOAP">
      <soap:address location="http://localhost:8080/ProductoService/services/productoSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
