ConsultaFacturasService/WebContent/wsdl/facturaSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/factura/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="factura" targetNamespace="http://www.example.org/factura/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/factura/">
      <xsd:element name="obtenerListaFacturasRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="factura" type="tns:Factura"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerListaFacturasResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="respuestaFactura" type="tns:RespuestaFactura"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Factura">
      	<xsd:sequence>
      		<xsd:element name="idFactura" type="xsd:string"/>
      		<xsd:element name="valor" type="xsd:double"/>
      		<xsd:element name="descripcion" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="RespuestaServicio">
      	<xsd:sequence>
      		<xsd:element name="codigo" type="xsd:string"/>
      		<xsd:element name="descripcion" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="RespuestaFactura">
      	<xsd:sequence>
      		<xsd:element maxOccurs="unbounded" minOccurs="0" name="facturas" type="tns:Factura">
      		</xsd:element>
      		<xsd:element name="respuestaServicio" type="tns:RespuestaServicio"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="RequestFactura">
      	<xsd:sequence>
      		<xsd:element name="factura" type="tns:Factura"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="obtenerListaFacturasRequest">
    <wsdl:part element="tns:obtenerListaFacturasRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="obtenerListaFacturasResponse">
    <wsdl:part element="tns:obtenerListaFacturasResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="FacturaInterface">
    <wsdl:operation name="obtenerListaFacturas">
      <wsdl:input message="tns:obtenerListaFacturasRequest"/>
      <wsdl:output message="tns:obtenerListaFacturasResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="facturaSOAP" type="tns:FacturaInterface">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="obtenerListaFacturas">
  		<soap:operation soapAction="http://www.example.org/factura/obtenerListaFacturas"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacturaService">
    <wsdl:port binding="tns:facturaSOAP" name="facturaSOAP">
      <soap:address location="http://localhost:8080/ConsultaFacturasService/services/facturaSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
