LoginService/wsdl/login.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bancoabc/login/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="login" targetNamespace="http://www.bancoabc/login/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bancoabc/login/" elementFormDefault="qualified">
      <xsd:element name="autenticarUsuarioRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="respuestaAutenticacion" type="tns:autenticarRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="autenticarUsuarioResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AutenticarRespuesta" type="tns:autenticarRespuesta"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="autenticarRequest">
      	<xsd:sequence>
      		<xsd:element name="idUser" type="xsd:string"></xsd:element>
      		<xsd:element name="password" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="autenticarRespuesta">
      	<xsd:sequence>
      		<xsd:element name="valido" type="xsd:string"></xsd:element>
      		<xsd:element name="estadoServicio" type="tns:estadoServicio"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="estadoServicio">
      	<xsd:sequence>
      		<xsd:element name="codigo" type="xsd:string"></xsd:element>
      		<xsd:element name="descripcion" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="autenticarUsuarioRequest">
    <wsdl:part element="tns:autenticarUsuarioRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="autenticarUsuarioResponse">
    <wsdl:part element="tns:autenticarUsuarioResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="LoginUsuarioInterface">
    <wsdl:operation name="autenticarUsuario">
      <wsdl:input message="tns:autenticarUsuarioRequest"/>
      <wsdl:output message="tns:autenticarUsuarioResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="loginService" type="tns:LoginUsuarioInterface">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="autenticarUsuario">
  		<soap:operation
  			soapAction="http://www.bancoabc/login/autenticarUsuario" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="loginInterface">
    <wsdl:port binding="tns:loginService" name="loginSOAP">
      <soap:address location="http://localhost:8080/LoginService/services/LoginService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
